@font-face {
  font-family: 'FontAwesome';
  src: url("../bower_components/fontawesome/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("../bower_components/fontawesome/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../bower_components/fontawesome/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../bower_components/fontawesome/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../bower_components/fontawesome/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../bower_components/fontawesome/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fedfont";
  src: url("../fonts/fedfont/fedfont.eot");
  src: url("../fonts/fedfont/fedfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fedfont/fedfont.woff") format("woff"), url("../fonts/fedfont/fedfont.ttf") format("truetype"), url("../fonts/fedfont/fedfont.svg#fedfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 24, ../sass/_base.scss */
body {
  font-weight: 100;
  color: #7a7a7a;
}

/* line 28, ../sass/_base.scss */
h1, h2, h3 {
  font-weight: 100;
}

/* line 31, ../sass/_base.scss */
p {
  line-height: 1.7;
}

/* line 1, ../sass/components/_button.scss */
.button {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 400;
  background-color: #84BD00;
  padding: 0.75rem 2.5rem 0.5rem 2.5rem;
  border-radius: .2em;
  text-decoration: none;
  border-top: #bdff24 1px solid;
  border-bottom: #4f7100 1px solid;
  border-left: none;
  border-right: none;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 16, ../sass/components/_button.scss */
.button:hover, .button:visited, .button:link, .button:active {
  color: white;
}
/* line 20, ../sass/components/_button.scss */
.button--pill {
  border-radius: 4em;
  padding: 0.6875rem 1.375rem 0.4375rem 1.375rem;
  font-size: 20px;
  text-shadow: none;
  font-weight: 100;
}

/* line 1, ../sass/components/_contact_form.scss */
.contact_form-name, .contact_form-email, .contact_form-comments, div.contact_form-interest .selectize-input input {
  font-size: 1.125rem;
  letter-spacing: .1em;
}

/* line 5, ../sass/components/_contact_form.scss */
.contact_form-name, .contact_form-email, .contact_form-comments, div.contact_form-interest .selectize-input {
  background-color: #e8e8e8;
  border: #DADADA 1px solid;
  width: 100%;
  border-radius: 0.3125rem;
  box-sizing: border-box;
  padding: 0.75rem 1.75rem 0.5rem 1.75rem;
  display: block;
  margin: 1.5em 0;
}

/* line 16, ../sass/components/_contact_form.scss */
.contact_form {
  width: 29.5rem;
  margin-right: auto;
  margin-left: auto;
}
/* line 21, ../sass/components/_contact_form.scss */
.contact_form-type_label {
  font-size: 1.25rem;
  text-align: center;
  letter-spacing: .1em;
  font-weight: 400;
  margin-bottom: 0.75rem;
}
/* line 29, ../sass/components/_contact_form.scss */
.contact_form-type {
  text-align: center;
}
/* line 31, ../sass/components/_contact_form.scss */
.contact_form-type label {
  font-size: 1.25rem;
  letter-spacing: .1em;
  margin: 0 0.875rem;
}
/* line 35, ../sass/components/_contact_form.scss */
.contact_form-type label:before {
  font-family: FontAwesome;
  content: "\f1db";
  font-size: 1.5rem;
  margin-right: .1em;
  color: #e8e8e8;
}
/* line 44, ../sass/components/_contact_form.scss */
.contact_form-type input[type="radio"]:checked + label:before {
  font-family: FontAwesome;
  content: "\f058";
  font-size: 1.5rem;
  margin-right: .1em;
  color: #0065b2;
}
/* line 52, ../sass/components/_contact_form.scss */
.contact_form-type input[type="radio"] {
  display: none;
}
/* line 67, ../sass/components/_contact_form.scss */
.contact_form-comments {
  height: 9.1875rem;
  padding: 0.9375rem 1.75rem;
}
/* line 74, ../sass/components/_contact_form.scss */
.contact_form-submit {
  width: 100%;
}

/* line 81, ../sass/components/_contact_form.scss */
div.contact_form-interest .selectize-input {
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* line 1, ../sass/components/_icon_box.scss */
.icon_box {
  background-color: #e8e8e8;
  padding: 2px;
}
/* line 5, ../sass/components/_icon_box.scss */
.icon_box > p {
  font-size: 0.875rem;
}
/* line 9, ../sass/components/_icon_box.scss */
.icon_box-title {
  font-size: 1.625rem;
  text-transform: uppercase;
  letter-spacing: .04em;
  text-align: center;
}
/* line 16, ../sass/components/_icon_box.scss */
.icon_box-icon {
  font-family: FontAwesome;
  display: inline-block;
  padding: 1.875rem 0 1.875rem 0;
  border-radius: 4em;
  color: white;
  font-size: 2.5rem;
  width: 6.25rem;
  text-align: center;
}
/* line 28, ../sass/components/_icon_box.scss */
.icon_box--passion .icon_box-icon {
  background-color: #a8228e;
}
/* line 31, ../sass/components/_icon_box.scss */
.icon_box--passion .icon_box-icon:before {
  content: "\f004";
}
/* line 38, ../sass/components/_icon_box.scss */
.icon_box--speed .icon_box-icon {
  background-color: #0065b2;
}
/* line 41, ../sass/components/_icon_box.scss */
.icon_box--speed .icon_box-icon:before {
  content: "\f0e7";
}
/* line 48, ../sass/components/_icon_box.scss */
.icon_box--creativity .icon_box-icon {
  background-color: #84BD00;
}
/* line 51, ../sass/components/_icon_box.scss */
.icon_box--creativity .icon_box-icon:before {
  content: "\f0c3";
}
/* line 58, ../sass/components/_icon_box.scss */
.icon_box--magic .icon_box-icon {
  background-color: #f58220;
}
/* line 61, ../sass/components/_icon_box.scss */
.icon_box--magic .icon_box-icon:before {
  content: "\f0d0";
}

/* line 4, ../sass/components/_search_form.scss */
.search_form {
  font-size: 0;
}
/* line 7, ../sass/components/_search_form.scss */
.search_form-phrase {
  vertical-align: top;
  height: 1.875rem;
  box-sizing: border-box;
  font-size: 1rem;
  border: 1px solid #DADADA;
  border-left: none;
  width: 8.125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}
/* line 19, ../sass/components/_search_form.scss */
.search_form-submit {
  vertical-align: top;
  height: 1.875rem;
  font-size: 1rem;
  border: 1px solid #DADADA;
  border-left: none;
  border-radius: 0 5px 5px 0;
  background-color: #e8e8e8;
}
/* line 27, ../sass/components/_search_form.scss */
.search_form-submit:before {
  color: #7a7a7a;
  font-family: fedfont;
  content: "a";
  font-size: 1.25rem;
  margin-top: 0.125rem;
  display: inline-block;
}

/* line 38, ../sass/components/_search_form.scss */
div.search_form-type.single {
  width: 4.875rem;
  vertical-align: top;
  display: inline-block;
}
/* line 42, ../sass/components/_search_form.scss */
div.search_form-type.single .selectize-input {
  font-size: 1rem;
  color: #7a7a7a;
  padding: 0.25rem 0.5rem;
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 5px 0 0 5px;
  background-color: #e8e8e8;
  height: 1.875rem;
  border-color: #DADADA;
}
/* line 53, ../sass/components/_search_form.scss */
div.search_form-type.single .selectize-input:after {
  border: none;
}
/* line 56, ../sass/components/_search_form.scss */
div.search_form-type.single .selectize-input:before {
  font-family: FontAwesome;
  content: "\f0dc";
  margin-right: .4em;
}

/* line 1, ../sass/components/_site_footer.scss */
.site_footer {
  background-color: #515151;
  color: #aeaeae;
  padding: 2.125rem 1.875rem;
}
/* line 6, ../sass/components/_site_footer.scss */
.site_footer > p {
  margin-top: 0.1875em;
  margin-bottom: 0.1875em;
}
/* line 12, ../sass/components/_site_footer.scss */
.site_footer-copyright {
  color: white;
  font-weight: 400;
}
/* line 18, ../sass/components/_site_footer.scss */
.site_footer-phone:before {
  font-family: FontAwesome;
  content: "\f095";
  margin-right: .2em;
}
/* line 25, ../sass/components/_site_footer.scss */
.site_footer-nav {
  text-align: center;
  margin-bottom: 0.5625em;
  width: 27rem;
  margin-left: auto;
  margin-right: auto;
}
/* line 32, ../sass/components/_site_footer.scss */
.site_footer-nav a:hover, .site_footer-nav a:visited, .site_footer-nav a:link, .site_footer-nav a:active {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 0.625em;
  margin-right: 0.625em;
}
/* line 42, ../sass/components/_site_footer.scss */
.site_footer-nav--alt {
  padding-top: 0.8125em;
  border-top: #5d5d5d solid 1px;
}
/* line 46, ../sass/components/_site_footer.scss */
.site_footer-nav--alt a:hover, .site_footer-nav--alt a:visited, .site_footer-nav--alt a:link, .site_footer-nav--alt a:active {
  color: #aeaeae;
}
/* line 53, ../sass/components/_site_footer.scss */
.site_footer-social_nav > a {
  font-size: 1rem;
  width: 1.5625rem;
  height: 1.5625rem;
  background-color: white;
  color: #515151;
  border-radius: 3em;
  line-height: 1.5625rem;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 0 .1em 0 .1em;
}
/* line 68, ../sass/components/_site_footer.scss */
.site_footer-social_nav > a:before {
  font-family: FontAwesome;
}
/* line 75, ../sass/components/_site_footer.scss */
.site_footer-facebook_link:before {
  content: "\f09a";
}
/* line 81, ../sass/components/_site_footer.scss */
.site_footer-twitter_link:before {
  content: "\f099";
}
/* line 87, ../sass/components/_site_footer.scss */
.site_footer-linkedin_link:before {
  content: "\f0e1";
}

/* line 2, ../sass/components/_site_header.scss */
.site_header-bottom {
  background-color: #e8e8e8;
  padding: 0.75rem;
}
/* line 7, ../sass/components/_site_header.scss */
.site_header-nav {
  font-size: 1.375rem;
}
/* line 10, ../sass/components/_site_header.scss */
.site_header-nav a:hover, .site_header-nav a:visited, .site_header-nav a:link, .site_header-nav a:active {
  display: inline-block;
  color: #7a7a7a;
  text-decoration: none;
  padding: .4em .7em;
}
/* line 17, ../sass/components/_site_header.scss */
.site_header-nav a.is-active {
  border: #aeaeae 1px solid;
  background-color: #DADADA;
  border-radius: .2em;
}
/* line 25, ../sass/components/_site_header.scss */
.site_header-phone:before {
  font-family: FontAwesome;
  content: "\f095";
}
/* line 32, ../sass/components/_site_header.scss */
.site_header-account_link:hover, .site_header-account_link:visited, .site_header-account_link:link, .site_header-account_link:active {
  color: #7a7a7a;
  text-decoration: none;
  font-size: 1.125rem;
}
/* line 37, ../sass/components/_site_header.scss */
.site_header-account_link:before {
  font-family: FontAwesome;
  content: "\f007";
  margin-right: .35em;
  font-size: .9em;
}

/* line 1, ../sass/components/_slideshow.scss */
.slideshow {
  width: 100%;
  position: relative;
  height: 39.375rem;
  background-image: url("../images/slideshow-bg-1000.jpg");
  background-size: cover;
  background-position: bottom;
}
@media (min-width: 801px) {
  /* line 1, ../sass/components/_slideshow.scss */
  .slideshow {
    background-image: url("../images/slideshow-bg-2000.jpg");
  }
}
@media (min-width: 1501px) {
  /* line 1, ../sass/components/_slideshow.scss */
  .slideshow {
    background-image: url("../images/slideshow-bg-3000.jpg");
  }
}
@media (min-width: 2501px) {
  /* line 1, ../sass/components/_slideshow.scss */
  .slideshow {
    background-image: url("../images/slideshow-bg.jpg");
  }
}
/* line 21, ../sass/components/_slideshow.scss */
.slideshow-slide {
  padding: 3px;
}
/* line 23, ../sass/components/_slideshow.scss */
.slideshow-slide > p {
  color: white;
  font-size: 1.125rem;
}
/* line 29, ../sass/components/_slideshow.scss */
.slideshow-slide_title {
  font-size: 2.75rem;
  color: white;
  margin-bottom: .4em;
}
/* line 35, ../sass/components/_slideshow.scss */
.slideshow > .slides {
  height: 39.375rem;
  padding-left: 200px;
  width: 31.25rem;
}
/* line 39, ../sass/components/_slideshow.scss */
.slideshow > .slides > li {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* line 47, ../sass/components/_slideshow.scss */
.slideshow .flex-direction-nav a {
  height: 21.3125rem;
  width: 12.5rem;
  top: 30%;
}
/* line 53, ../sass/components/_slideshow.scss */
.slideshow .flex-direction-nav a:before {
  font-family: fedfont;
  font-size: 19.4375rem;
  color: white;
  text-shadow: 0.125rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.4);
}
/* line 60, ../sass/components/_slideshow.scss */
.slideshow .flex-direction-nav a.flex-next:before {
  content: "c";
}
/* line 64, ../sass/components/_slideshow.scss */
.slideshow .flex-direction-nav a.flex-prev:before {
  content: "d";
  margin-left: -7.8125rem;
}
/* line 69, ../sass/components/_slideshow.scss */
.slideshow .flex-control-nav {
  bottom: 0.9375rem;
}
/* line 73, ../sass/components/_slideshow.scss */
.slideshow .flex-control-nav li {
  margin: 0 0.25rem;
}
/* line 77, ../sass/components/_slideshow.scss */
.slideshow .flex-control-paging li a {
  background-color: white;
}
/* line 81, ../sass/components/_slideshow.scss */
.slideshow .flex-control-paging li a.flex-active {
  background-color: rgba(255, 255, 255, 0.5);
}

/* line 2, ../sass/components/_snippet.scss */
.snippet > p {
  font-size: 0.875rem;
}
/* line 5, ../sass/components/_snippet.scss */
.snippet-title {
  font-size: 1.5rem;
  margin-bottom: .7em;
}
/* line 9, ../sass/components/_snippet.scss */
.snippet-attribution {
  font-style: italic;
}
/* line 11, ../sass/components/_snippet.scss */
.snippet-attribution > a {
  color: #515151;
}
/* line 13, ../sass/components/_snippet.scss */
.snippet-attribution > a:hover, .snippet-attribution > a:visited, .snippet-attribution > a:link, .snippet-attribution > a:active {
  color: #515151;
}
/* line 18, ../sass/components/_snippet.scss */
.snippet-author_thumb {
  height: 5rem;
  width: 5rem;
  border-radius: 2.5rem;
  border: 3px solid white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

/* line 1, ../sass/components/_stacked_hero_section.scss */
.stacked_hero_section-title {
  font-size: 2.125rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DADADA;
  text-align: center;
  padding-bottom: .8em;
  margin-bottom: .9em;
}

/* line 12, ../sass/components/_stacked_hero_section.scss */
.stacked_hero_section--alt {
  background-color: #e8e8e8;
  padding: 1.5625rem 7.5625rem;
}
/* line 15, ../sass/components/_stacked_hero_section.scss */
.stacked_hero_section--alt > .stacked_hero_section-title {
  border-bottom-color: white;
}
